*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: rgb(5, 17, 17);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 20px;
    color:green;
}
p{
    font-size: 25px;

    color: blue;
}
.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px  10px black;
    background: rgba(red, green, blue, alpha);
    border-radius: 5px;
}
label{
    font-size: 23px;
    color:rgb(63, 218, 16);
}
.form-control{
    background: transparent;
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
}
.btn-success{
  margin-left: -100px;
}
.login:hover{
    background: royalblue;
    color: grey;
    box-shadow: -1px 1px 60px  10px rgb(194, 176, 176);
}
