* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    /* color: white; */
}
.yellow {
    color: yellow;
}
.tenantnav {
    color: yellow;
}
body {
    /** background-image: url(OIP.jpg);
*/
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Times New Roman", Times, serif;
}
option {
    font-family: Arial;
}
label {
    font-family: Arial;
}
/* #mydatatable,tr,td {
    font-family: Arial;

}*/

table tr,
td {
    font-family: Arial;
}

.bcf {
    border-bottom: 1px solid black;
}
#landlordded {
    /* background-color: green; */
}
